#project-wrapper #project-container {
  background: url("http://www.upsetmagazine.com/wp-content/uploads/2015/09/Bring-Me-The-Horizon_16.jpg");
  background-size: cover;
  background-position: top center;
  color: white;
  height: 75px;
  min-width: 300px;
  width: 300px;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
}
#project-wrapper #project-container #overlay {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  z-index: 2;
  background: -moz-linear-gradient(-45deg, #333333 0%, #222222 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #333333 0%, #222222 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #333333 0%, #222222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: .85;
}
#project-wrapper #project-container #content {
  text-align: center;
  position: relative;
  z-index: 3;
}
#project-wrapper #project-container #content h2 {
  font-size: 1.3em;
  margin: 20px 0 0 20px;
  font-weight: 600;
}
#project-wrapper #project-container #content h3 {
  margin: 7px 0 15px 20px;
  font-size: 2em;
  opacity: 1;
}
#project-wrapper #project-container #content input {
  width: 100%;
  height: 2px;
  
  background: -moz-linear-gradient(left, #3498db 0%, #9b59b6 72%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3498db 0%, #9b59b6 72%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3498db 0%, #9b59b6 72%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#project-wrapper #project-container #content input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
#project-wrapper #project-container #content #controls {
  height: 50px;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#project-wrapper #project-container #content #controls .column {
  float: left;
}
#project-wrapper #project-container #content #controls .column:nth-child(even) {
  font-size: 1.3em;
}
#project-wrapper #project-container #content #controls .column:nth-child(n+2):nth-child(-n+4) {
  color: white !important;
}
#project-wrapper #project-container #content #controls .column:nth-child(3) {
  font-size: 2em;
}
#project-wrapper #project-container #content #controls .column.active {
  color: #9b59b6;
}
#project-wrapper #project-container #content #controls .column i {
  margin: 0 15px;
  cursor: pointer;
}