/* Navigation Arrow */
nav span {
	position: absolute;
	top: 50%;
	z-index: 1000;
	display: block;
	width: 4vw;
	height: 100px;
	outline: none;
	text-align: left;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.white::before, 
.white::after{
	background: #dbccd0;
}
.whiter::before, 
.whiter::after{
	background: #fff;
}
.yellow::before, 
.yellow::after{
	background: #fbe094;
}
.yellower::before, 
.yellower::after{
	background: #ff0;
}
.black::before, 
.black::after{
	background: #202425;
}
.blacker::before, 
.blacker::after{
	background: #000;
}

nav span.prev {
	left: 0;
}

nav span.next {
	right: 0;
}

nav i {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

nav span::before,
nav span::after,
nav i::before,
nav i::after {
	position: absolute;
	left: 50%;
	width: 3px;
	height: 50%;
	outline: 1px solid transparent;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

nav i::before,
nav i::after {
	z-index: 100;
	height: 0;
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

nav span::before,
nav i::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

nav span.next::before,
nav span.next i::before {
	-webkit-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

nav span::after,
nav i::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

nav span.next::after,
nav span.next i::after {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.no-touch nav span:hover i::before,
.no-touch nav span:hover i::after {
	height: 50%;
}

.no-touch nav span:hover::before,
.no-touch nav span:hover i::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}

.no-touch nav span.next:hover::before,
.no-touch nav span.next:hover i::before {
	-webkit-transform: translateX(-50%) rotate(125deg);
	transform: translateX(-50%) rotate(125deg);
}

.no-touch nav span:hover::after,
.no-touch nav span:hover i::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.no-touch nav span.next:hover::after,
.no-touch nav span.next:hover i::after {
	-webkit-transform: translateX(-50%) rotate(55deg);
	transform: translateX(-50%) rotate(55deg);
}