.container{
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#page1{
	width: 0;
}
#page2{
	width: 0;
}
#segment_1{
	width: 0;
}
#segment_2{
	width: 0;
}
#date_0{
	top: 31vh;
	left: 0;
	font-size: 7vh;
	opacity: 0;
	transition: all 5s;
	font-weight: bold;
}
#date_1{
	top: 8vh;
	left: 0;
	font-size: 4vh;
	opacity: 0;
	transition: all 5s;
	font-weight: normal;
}
#date_2{
	top: 8vh;
	left: 0;
	font-size: 4vh;
	opacity: 0;
	transition: all 5s;
	font-weight: normal;
}
.hidden{
	display: none;
	opacity: 0;
}





#top_bar{
  position: fixed;
  top:0px;
  left:0px;
  height:4vh;
  width: 100%;
  padding-top: 5px;
  z-index: 10;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
.top_el{
padding:5px;
  padding-left: 3%;
    padding-right: 3%;
    font-size: 1em;
    transition: all 0.5s;
    float: left;
    margin-right: -1px;
    border-width: 1px;
    border-right-style:solid;
    cursor: pointer;
}
.top_el:hover{
  box-shadow: 0px 2px 5px #fff;
}
.usr_top_el{
  display: table;
  margin-right: 10px;
    font-size: 1em;
    float: right;
}
.burger{
  margin-right: 30px;
  padding-left: 2%;
  padding-right: 2%;
  transition: all .2s;
  padding: 5px;
  float: right;
  cursor: pointer;
}
.burger:hover{
  box-shadow: 0px 2px 5px #fff;
}
.login{
  margin-right: 30px;
  padding-left: 4%;
  padding-right: 4%;
  transition: all .2s;
  padding: 5px;
  float: right;
  cursor: pointer;
}
.login:hover{
  box-shadow: 0px 2px 5px #fff;
}
#user_name{
  display: table-cell;
  vertical-align: middle;
}
a{
  text-decoration: none;
  color:#fff !important;
}
#user_img{
  height: 30px;
  margin-right:10px;
  border-radius: 50%;
  position: relative;
}
#menu_trigger{
  height:20px;
  position: relative;
}

#login_popup{
  position: fixed;
  top:50px;
  right: 20px;
  transition: all 1s;
  display: none;
  opacity: 0;
  z-index: 105;
}
#login_frame{
  border-color: rgba(0,0,0,0);
  height: 40%;
  width: 100%;
  border-radius: 10px;
}
#user_menu{
  position: fixed;
  background: rgba(0,0,0,0.3);
  top:36px;
  right: 30px;
  text-align: right;
  color: #FFFFFF;
  width: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0px;
  transition: all 1s;
  display: none;
  opacity: 0;
  z-index: 105;
}
.user_menu_entry{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.5s;
  cursor: default;
}
.user_menu_entry:hover{
  background: rgba(0,0,0,0.7);
}


#bars {
    margin: -30px 0 0 -20px;
    height: 30px;
    width: 40px;
}

.music{
	animation: sound 0ms -800ms linear infinite alternate;
}

.bar {
   background: #fff;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }​